a:link.button, a:visited.button {
    background-color: white;
    color: black;
    border: 2px solid #696969;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}	
a:hover.button, a:active.button {
	background-color: #c1c1c1;
}
.center{
	text-align: center;
}
.dont_show{
	display: none;
}
.basic_green_border_dashed{
	background-color: #b8c1d1;
	text-align: center;
	border-style: dashed;
	margin: 30px 100px 75px 100px;
	font-size: 25px;
	text-color: green;
}